<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="kate_ripgrep_search" library="kate_ripgrep_search" version="1" translationDomain="kate_ripgrep_search">
  <MenuBar>
    <Menu name="ripgrep">
      <text>&amp;RIPGrep</text>
      <Action name="ripgrep_search_in_files"/>
      <Action name="ripgrep_refresh"/>
      <Action name="ripgrep_clear"/>
      <Action name="ripgrep_whole_word"/>
      <Action name="ripgrep_case_sensitive"/>
      <Action name="ripgrep_use_regex"/>
    </Menu>
  </MenuBar>
</gui>